.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.gallery_img_container {
  width: 250px;
  height: 130px;
  position: relative;
}

.img__container {
  width: 100%;
  height: 100%;
}

.plus {
}

.title {
  font-size: 14px;
}

.const {
  font-size: 14px;
  color: rgba(113, 77, 0, 0.867);
}
